# Dependencies
node_modules
.pnp
.pnp.js

# Testing
.coverage
.rp-juli
coverage

# Next.js
/.next/
/out/

# Build
/build
/dist

# Misc
.DS_Store
*.pem

# Ops
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
